/* 
-------------------------
          my css
-------------------------
*/
/* 
-------------------------------------
    START SECTION:      _common
-------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: #10069c;
}

.cursor-pointer {
  cursor: pointer;
}

.word-break-normal {
  word-break: normal;
}

.view-centered {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* 
-------------------------------------
    END SECTION:      _common
-------------------------------------
*/
