/* 
-------------------------
          my css
-------------------------
*/
/* 
-------------------------
          _variables
-------------------------
*/
/* 
-------------------------
          _common
-------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: #10069c;
}

.test_class_to_be_removed {
  color: purple;
}
