/* 
Style specific for welcome page
*/

.access-panel {
    align-self: flex-end;
    margin-right: 1rem;
}

.welcome-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-centered {
    align-self: center;
    padding: 0 20px;
    text-align: center;
}
.fz-48 {
    font-size: 48px;
    line-height: 1;
}
.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
